<div>
       <button [routerLink] = "['/view']">Back</button> 
</div> <br>
    <div class = "container-fluid" style="background: rgb(197, 228, 228);">
        <div *ngFor = "let obj of object">
            <h2 align="center" color="blue">{{obj.quiz_name | titlecase}}</h2>
            <div class= "row">
                <div class="col-md-4">
                    <label><strong>Level</strong></label>
                </div> 
                <div class="col-md-4">
                    <label style="font-weight: normal;">{{obj.level.levelName}}</label>
                </div>
            </div><br>
            <div class = "row">
                <div class = "col-md-4">
                    <label><Strong>Slug: </Strong></label>
                </div>
                <div class = "col-md-4">
                    <label>{{obj.slug}}</label>
                </div>        
            </div><br>
            <div class = "row">
                <div class = "col-md-4">
                    <label><strong>Duration:</strong></label>
                </div>
                <div>
                    {{obj.duration}}
                </div>
            </div><br>
            <div class = "row">
                <div class = "col-md-4">
                    <label><Strong>Available For:</Strong></label> 
                </div>
                <div class = "col-md-4">
                    <div *ngIf= "obj.is_available_pre_signup" >Signup(available Via slug)</div>
                <div *ngIf= "obj.is_available_dashboard" >Dashboard (available Via slug)</div>
                </div>
            </div><br>
            <div class = "row">
                <div class = "col-md-4">
                    <label><Strong>Activity Points: </Strong></label>
                </div>
                <div class = "col-md-4">
                    {{obj.activity_points}}
                </div>
            </div><br>
            <div class = "row">
                <div class = "col-md-4">
                    <label><strong>Tags: </strong></label>
                </div>
                <div class = "col-md-4">
                    {{obj.tags}}
                </div>
            </div><br>
            <div class ="row">
                <div class = "col-md-4">
                    <label><strong> Meta Keywords:</strong></label>
                </div>
                <div class = "col-md-4">
                    {{obj.meta_keywords}}
                </div>
            </div>
            <br>
            <div class = "row">
                <div class = "col-md-4">
                    <label><strong> Category:</strong></label>
                </div>
                <div class = "col-md-4">
                    {{obj.category.categoryName}}
                </div>
            </div><br>
            <div class = "row">
                <div class = "col-md-4">
                    <label><strong>Level Override:</strong> </label>
                </div>
                <div class = "col-md-4">
                    <div *ngIf="obj.is_leveloverride; else elseblack">on</div> <br>
                    <ng-template #elseblack>off</ng-template><br>
                </div>
            </div><br>
            <div class = "row">
                <div class = "col-md-4">
                    <label><strong>Maximum No. of Attempts</strong></label>
                </div>
                <div class = "col-md-4">
                    {{obj.max_no_of_attempts}}
                </div>
            </div><br>
            <div class ="row">
                <div class = "col-md-2">
                    <label><strong>Created By </strong></label>
                </div>
                <div class = "col-md-2">
                    {{obj.created_by}}
                </div>
                <div class = "col-md-2">
                    <label><strong>Created On </strong></label>
                </div>
                <div class = "col-md-2">
                    {{obj.created_on | date: 'short'}}
                </div>
            </div><br>

            <div class ="row">
                <div class = "col-md-2">
                    <label><strong>Modified By </strong></label>
                </div>
                <div class = "col-md-2">
                    {{obj.modified_by}}
                </div>
                <div class = "col-md-2">
                    <label><strong>Modified On </strong></label>
                </div>
                <div class = "col-md-2">
                    {{obj.modified_on | date: 'short'}}
                </div>
            </div>

            <div *ngFor ="let qq of obj.quizQuestionObj | poolpipe">
                <button (click) = "viewPoolQuestions(obj.quiz_id, qq.pool.poolName)" >{{qq.pool.poolName}}</button>    
            </div>  
            <ng-container *ngFor = "let poolquestion of poolquestionobj; index as i">
                <!-- <ng-container *ngIf = "poolquestion.pool.poolName === qq.pool.poolName"> -->
                <table border=5 class="table table-bordered">
                    <thead> <tr>
                    <th>S.No</th>
                    <th>Question Text</th>
                    <th>Question Type</th>
                    <th>Category</th>
                    <th>Level</th>
                    </tr></thead> 
                    <tbody>   
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{poolquestion.content}}</td>
                        <td>{{poolquestion.type_Id.name}}</td>
                        <td>{{poolquestion.category.categoryName}}</td>
                        <td>{{poolquestion.level.levelName}}</td>
                    </tr> 
                 </tbody>  
        </table>    
    <!-- </ng-container> -->
    </ng-container>   
 </div>
</div>
