<div>
       <button [routerLink] = "['/view']">Back</button> 
</div>
    <div class = "container-fluid" style="background: rgb(197, 228, 228);">
        <div *ngFor = "let obj of object">
            <h2 align="center" color="blue">{{obj.quiz_name | titlecase}}</h2>
            <div class= "row">
                <div class="col-md-4">
                    <label>Level</label>
                </div> 
                <div class=col-md-8>
                    <label style="font-weight: normal;">{{obj.level.levelName}}</label>
                </div>
            </div>
            <div>
                <div>
                    <label>Slug:</label>
                </div>
                <div>
                    <label>{{obj.slug}}</label>
                </div>        
            </div>
            <label>Duration:</label> {{obj.duration}}<br>
            <div id=div1 ><label>Available For:</label> 
                <div *ngIf= "obj.is_available_pre_signup" >Signup(available Via slug)</div>
                <div *ngIf= "obj.is_available_dashboard" >Dashboard (available Via slug)</div>
            </div>
            <label>Activity Points</label>{{obj.activity_points}}<br>
            <label>Tags</label>{{obj.tags}}<br>
            <label>Meta Keywords       :</label>{{obj.meta_keywords}}<br>
            <label>Category            :</label>{{obj.category.categoryName}}<br>
            <label>Level Override       : </label><div *ngIf="obj.is_leveloverride; else elseblack">on</div> <br>
            <ng-template #elseblack>off</ng-template><br>
            <label>Maximum No. of Attempts</label>{{obj.max_no_of_attempts}}<br>
            <label>ICon</label>{{obj.icon}}<br>
            <label>Created By</label>{{obj.created_by}}<br>
            <label>Created On</label>{{obj.created_on | date: 'short'}}<br>
            <label>Modified By</label>{{obj.modified_by}}<br>
            <label>Modified On</label>{{obj.modified_on | date: 'short'}}<br>
            <div *ngFor ="let qq of obj.quizQuestionObj | poolpipe">
                <button (click) = "viewPoolQuestions(obj.quiz_id, qq.pool.poolName)" >{{qq.pool.poolName}}</button>    
            </div>  
            <ng-container *ngFor = "let poolquestion of poolquestionobj; index as i">
                <!-- <ng-container *ngIf = "poolquestion.pool.poolName === qq.pool.poolName"> -->
                <table border=5 class="table table-bordered">
                    <thead> <tr>
                    <th>S.No</th>
                    <th>Question Text</th>
                    <th>Question Type</th>
                    <th>Category</th>
                    <th>Level</th>
                    </tr></thead> 
                    <tbody>   
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{poolquestion.content}}</td>
                        <td>{{poolquestion.type_Id.name}}</td>
                        <td>{{poolquestion.category.categoryName}}</td>
                        <td>{{poolquestion.level.levelName}}</td>
                    </tr> 
                 </tbody>  
        </table>    
    <!-- </ng-container> -->
    </ng-container>   
 </div>
</div>
