<div>
<form [formGroup]="quizForm">
<div  class="container" >
    <form [formGroup]="quizForm">
        <h3>Create a Quiz</h3>
        <div class="row">
            <div class="col-md-3">
                    <label class="required">Quiz Name: </label> 
            </div>
            <div class="col-md-3">
                <input type="text"  formControlName="quiz_name" class= "form-control" placeholder="Quiz1"/>         
                <!-- <tag-input formControlName="tags" [(ngModel)]="tagValue" [modelAsStrings]="true"> </tag-input> -->
            </div>
            <div class="col-md-1">
                <label>Level: </label> <br>
            </div>
            <div formGroupName="level" class="col-md-3">
                <select (change)=setLevelId($event.target.value) id="leveId" formControlName="levelId">
                <option value="" disabled selected>select</option>
                <option *ngFor="let level of levels" [value]="level.levelId" >{{level.levelName}}</option>
                </select>
            </div></div><br>

        <div class="row">
            <div class="col-md-3">
                <label>Tags</label>
            </div>
                <div class = "col-md-3">
                    <tag-input formControlName="tags" [(ngModel)]="tagValue" [modelAsStrings]="true"> </tag-input>
                </div>
                
        <div class="col-md-1">       
               <label>Category: </label>  
               </div>
               <div class = "col-md-3" formGroupName="category">
               <select  (change)=setCategoryId($event.target.value) id="categoryId" formControlName="categoryId">
                <option value="" disabled selected>select</option>
                <option *ngFor="let category of categories" [value]="category.categoryId">{{category.categoryName}}</option>
              </select>
        </div></div><br>

        <div class = "row">
            <div class = "col-md-3">
                <label>Activity Points  </label>
            </div>
            <div class = "col-md-3">
                <input type="text"  formControlName="activity_points" class="form-control" placeholder="10"/>
            </div>
            <div class = "col-md-1">
                <label>Pass %:    </label>
            </div>
            <div class = "col-md-3">
                <input type="text" formConrolName="pass_percentage" class="form-control"/>
            </div>
        </div><br>

        <div class = "row">
            <div class = "col-md-3">
                <label>Duration</label>
            </div>
            <div class ="col-md-3">
                <input type="text"  formControlName="duration" class="form-control" placeholder="00:30:00"/>
            </div>

            <div class = "col-md-1">
                <div class = "row">
                <label>Available For:   </label>
            </div>
            </div>
            <div class ="col-md-3">
                <div class = "row">
                <div class = "col-sm-6">
               <label> Pre Signup</label></div> <div class = "col-sm-3"><input type="checkbox" formConrolName="is_available_pre_signup" class="form-control" (change)= "signup()"/></div></div>
               <div class = "row"><div class = "col-sm-6"><label>Logged in users via Slug</label></div><div class = "col-sm-3"> <input type="checkbox" [checked] = "isChecked" [disabled]="isDisabled" formConrolName="is_available_via_slug" class="form-control"/></div></div>
               <div class = "row"><div class = "col-sm-6"><label> Dashboard users</label></div><div class = "col-sm-3"> <input type="checkbox" formConrolName="is_available_dashboard" class="form-control"(change)= "signup()"/></div></div>
            </div>
        </div><br>

        <div class = "row">
            <div class = "col-md-3">
                <label>Maximum No. of Attempts   </label>
            </div>
            <div class = "col-md-3">
                <input type="number" min=0 max =10 oninput="validity.valid||(value='');" formControlName="max_no_of_Attempts" class="form-control" placeholder="1"/>
            </div>
        </div><br>

        <div class = "row">
            <div class = "col-md-3">
                <label>Level Override:</label>
            </div>
            <div class = "col-md-3">
                <label for="one">
                    <input type="radio" name="level_override" formControlName="level_override" value=1 />
                    On
                    <input type="radio"  name="level_override" formControlName="level_override" value=0 />
                    Off
                    </label> 
            </div>
            <div class = "col-md-1">
                <label>slug:</label>
            </div>
            <div class = "col-md-2">
                https://qa.revature/com/quizzes/
            </div>
                <div class = "col-md-3">
                <input type="text" formControlName="slug" class="form-control"/>
            </div>   
        </div><br>

        <div class = "row">
            <div class = "col-md-1">
                <label>Description: </label>
            </div>
            <div class = "col-md-11">
                <textarea formControlName="description" class="form-control" ></textarea>
            </div>   
        </div><br>
        <div class = "row">
            <div class="col-md-1">
                <label>Meta Keywords:  </label>
            </div>
            <div class = "col-md-11">
                <input type="text" formControlName="meta_keywords"class="form-control" placeholder="Enter tags"/>
            </div>
        </div><br>

        <div class  = "row">
            <div class = "col-md-1">
                <label>Meta Description   </label>
            </div>
            <div class = "col-md-11">
                <textarea formControlName="meta_description" class="form-control">  </textarea>  
            </div>          
        </div><br>

        <div class = "row">
            <div class="col-md-1">
                <label>Icon: </label>
            </div>
            <div class="col-md-11">
                <input type="file" formControlName="icon" class="form-control"/>
            </div>    
        </div><br>

        <div class = "row">
            <div class="col-md-1">
                <label>Instructions:</label>
            </div>
            <div class = "col-md-11">
                <textarea type="text" formControlName="instructions" class="form-control" width = "24"></textarea>
            </div>  
        </div><br><br>

        <fieldset>
            <legend>Quiz settings</legend>
            <div class = "row">
                <div class = "col-md-3">
                    <label>Timer Enabled:</label>
                </div>
                <div class = "col-md-6">
                    <label for="one">
                        <input type="radio" name="is_timer_enabled" formControlName="is_timer_enabled" value=1 />
                        Yes
                        <input type="radio"  name="is_timer_enabled" formControlName="is_timer_enabled" value=0 />
                        No
                        </label> 
                </div>
            </div><br>

            <div class = "row">
                <div class = "col-md-3">
                    <label>Shuffle Questions:</label>
                </div>
                <div class = "col-md-6">
                    <label for="one">
                        <input type="radio" name="is_shuffle_questions" formControlName="is_shuffle_questions" value=1 />
                        Yes
                        <input type="radio"  name="is_shuffle_questions" formControlName="is_shuffle_questions" value=0 />
                        No
                        </label> 
                </div>
            </div><br>

            <div class = "row">
                <div class = "col-md-3">
                    <label>Shuffle Answers:</label>
                </div>
                <div class = "col-md-6">
                    <label for="one">
                        <input type="radio" name="is_shuffle_answers" formControlName="is_shuffle_answers" value=1 />
                        Yes
                        <input type="radio"  name="is_shuffle_answers" formControlName="is_shuffle_answers" value=0 />
                        No
                        </label> 
                </div>
            </div><br>

            <div class = "row">
                <div class = "col-md-3">
                    <label>Display Score and Result at the end:</label>
                </div>
                <div class = "col-md-6">
                    <label for="one">
                        <input type="radio" name="is_display_score" formControlName="is_display_score" value=1 />
                        Yes
                        <input type="radio"  name="is_display_score" formControlName="is_display_score" value=0 />
                        No
                        </label> 
                </div>
            </div><br>

            <div class = "row">
                <div class = "col-md-3">
                    <label>Allow Attempt Review:</label>
                </div>
                <div class = "col-md-1">
                    <input type="checkbox" formControlName = "is_allow_attempt_review" class="form-control">
                </div>
            </div><br>

            <div class = "row">
                <div class = "col-md-3">
                    <label>Show whether Correct:</label>
                </div>
                <div class = "col-md-1">
                    <input type="checkbox" formControlName = "is_show_whether_correct" class="form-control">
                </div>
            </div><br>

            <div class = "row">
                <div class = "col-md-3">
                    <label>Show Correct Answers:</label>
                </div>
                <div class = "col-sm-1">
                    <label>Passed</label>
                </div>
                <div class = "col-sm-1">
                    <input type="checkbox" formControlName = "is_show_correct_answers_passed" class="form-control">
                </div>
                <div class = "col-sm-1">
                    <label>Failed</label>
                </div>
                <div class = "col-sm-1">
                <input type="checkbox" formControlName = "is_show_correct_answers_failed"  class="form-control">
                </div>
            </div><br>        

            <div class = "row">
                <div class = "col-md-3">
                    <label>Show Answer Explanations:</label>
                </div>
                <div class = "col-md-6">
                    <label for="one">
                        <input type="radio" name="is_show_answer_explanations" formControlName="is_show_answer_explanations" value=1 />
                        Yes
                        <input type="radio"  name="is_show_answer_explanations" formControlName="is_show_answer_explanations" value=0 />
                        No
                        </label> 
                </div>
            </div><br>

            <div class = "row">
                <div class = "col-md-3">
                    <label>Enable Save and Resume:</label>
                </div>
                <div class = "col-md-1">
                    <input type="checkbox" formControlName = "is_enable_save_resume" class="form-control">
                </div>
            </div>
        </fieldset>
    <div>
    <div *ngFor ="let qq of object[0].quizQuestionObj | poolpipe">
        <button (click) = "viewPoolQuestions(object[0].quiz_id, qq.pool.poolName)" >{{qq.pool.poolName}}</button>    
    <ng-container *ngFor = "let poolquestion of poolquestionobj; index as i">
        <!-- <ng-container *ngIf = "poolquestion.pool.poolName === qq.pool.poolName"> -->
        <table border=5 class="table table-bordered">
            <thead> <tr>
            <th>S.No</th>
            <th>Question Text</th>
            <th>Question Type</th>
            <th>Category</th>
            <th>Level</th>
            <th>Delete</th>
            </tr></thead> 
            <tbody>   
            <tr>
                <td>{{i+1}}</td>
                <td>{{poolquestion.content}}</td>
                <td>{{poolquestion.type_Id.name}}</td>
                <td>{{poolquestion.level.levelName}}</td>
                <td>{{poolquestion.category.categoryName}}</td>
                <td><button><img src="assets/Images/delete.png" alt="delete"  height=30 width=30 (click)="deleteQuestion(qq.id)"></button></td>
            </tr> 
         </tbody>  
</table>    
</ng-container>   
           </div>     
           </div>

        <button type="submit" class="btn btn-primary" (click) = "getQuestions()">Show Question</button>
        <div>
            <div formGroupName="pool">
                Pool: <select (change)=setPoolId($event.target.value) id="poolId" formControlName="id">
                    <option value="" disabled selected>select</option>
                    <option *ngFor="let pool of pools" [value]="pool.id" id = "poolId">{{pool.poolName}}</option>
                  </select>
            </div>
            <table class="table table-bordered">
                <thead> <tr>
                    <th><input type = "checkbox" value = "question.id" ></th>   
                    <th>Queestion Title</th>
                    <th>Question Type</th>
                    <th>Tags</th>
                    <th>Category</th>
                    <th>Level</th>
                </tr></thead>
                    <tr *ngFor = "let question of questions;"> 
                        <ng-container *ngIf="questionIds.includes(question.id) && !selectedQuiestionIds.includes(question.id)">
                            <td >
                                <input type = "checkbox" (change) = "getCheckBoxValue($event)" [value] = "question.id" id = "questionId">
                            </td>
                            <td>
                               {{question.title}}
                            </td>
                            <td>
                                {{question.type_Id.name}}
                            </td>
                            <td>
                                {{question.tags}}
                            </td>
                            <td>
                                {{question.category.categoryName}}
                            </td>
                            <td>
                                {{question.level.levelName}}
                            </td>
                </ng-container>
                </tr>
            </table>
        </div>
        <button type="submit" class="btn btn-primary" (click) = "addQuestions()">Add</button>
        <button type="submit" class="btn btn-success" (click) = "save()" style="float: right;">Create Quiz</button>
    </form>
</div>